form {
  border: 1px dotted #AAAAAA;
  padding: 3px 6px 3px 6px;
}
form div {
  margin-bottom: 1em;
}
input.txt{
  color: #00008B;
  background-color: #ADD8E6;
  border: 1px inset #00008B;
  width: 200px;
}
input.btn {
  color: #00008B;
  background-color: #ADD8E6;
  border: 1px outset #00008B;
  padding: 2px 4px 2px 4px;
}