body {
	font: 0.9em Verdana, Geneva, Arial, Helvetica, sans-serif;
	background-color: #D2D7E4;
	color: #000000;
	background-image: url(background-norepeat.jpg);
	background-repeat: no-repeat;
	
	/*
	Try these alternatives as well.
	
	Repeat horizontally:
	background-image: url(background-repeatx.jpg);
	background-repeat: repeat-x;
	
	Repeat vertically:
	background-image: url(background-repeat-y.jpg);
	background-repeat: repeat-y;
	*/
}
#content {
	margin: 2em 4em 2em 4em;
	background-color: #FFFFFF;
	padding: 1em;
}