body {
	font: 0.8em Verdana, Geneva, Arial, Helvetica, sans-serif;
}

.datatable {
	border: 1px solid #D6DDE6;
	border-collapse: collapse;
}
.datatable td {
	border: 1px solid #D6DDE6;
	text-align: right;
	padding: 0.2em;
}
.datatable th {
	border: 1px solid #828282;
	background-color: #BCBCBC;
	font-weight: bold;
	text-align: left;
	padding: 0.2em;
}
.datatable caption {
	font: bold 120% "Times New Roman", Times, serif;
	background-color: #B0C4DE;
	color: #33517A;
	padding: 0.4em 0 0.3em 0;
	border: 1px solid #789AC6;
}