body {
  background-color: #CCD3D9;
  color: #000000;
}
#content {
  width: 630px;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #A6B2BC;
  background-color: #FFFFFF;
  color: #000000;
  padding: 0 20px 0 20px;
}